

    <div class="row">
        <input type="text" class="form-control  " id="text_input" placeholder="Имя страны">
        <button type="submit" id="show_info" class="btn btn-primary ">Показать информацию</button>
        <button type="submit" id="show_all_info" class="btn btn-primary ">Вывести все</button>
        </div>
        <div id="items"></div>
        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
        <script src="~/Scripts/Action.js"></script>




        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Сохранение информации</h4>
                    </div>
                    <div class="modal-body">
                        Сохранить информацию в БД?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                        <button type="button" id="save_info_btn" onclick="save_info()" class="btn btn-primary">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>